<h1>Rotten Mangoes</h1>
<%= link_to "Home", movies_path %>   |   <%= link_to "Submit a movie!", new_movie_path %>   |   <%= link_to "Admin users page", admin_users_path %>

<hr>

<%= form_tag(movies_path, method: "get") do %>
  <%= label_tag(:title, "Title") %>
  <%= text_field_tag(:title) %>

  <%= label_tag(:director, "Director") %>
  <%= text_field_tag(:director) %>

  <%= select_tag(:runtime_in_minutes, options_for_select([['Duration', 0], ['Under 90 minutes', 1], ['Between 90 & 120 minutes', 2], ['Over 120 minutes', 3]])) %>

  <%= submit_tag("Search") %>

  <%= button_tag(type: 'button') do %>
    <% link_to "Reset", movies_path %>
  <% end %>

<% end %>

<hr>

<% @movies.each do |movie| %>
  <%= render partial: "movie", locals: { movie: movie } %>
<% end %>