<h1>Rotten Mangoes</h1>
<%= link_to "Back to all users", admin_users_path %><br>
<hr>

<p>First name: <%= @user.firstname %></p>
<p>Last name: <%= @user.lastname %></p>
<p>Email: <%= @user.email %></p>
<p>Admin: <%= @user.admin %></p>
<p>Created at: <%= @user.created_at %></p>
<p>Created at: <%= @user.updated_at %></p>